choice
	prompt "Configure Application"
	default PROJECT_SIM

config PROJECT_SIM
	bool "Cadence simulator demos"
	---help---
		the offical demos of foss-xtensa from Github

config PROJECT_T113
	bool "T113 DSP project"
	depends on ARCH_SUN8IW20

endchoice

config PROJECT_DIR
	string
	default "t113" if PROJECT_T113
	---help---
		This value must be corresponding to the name of
		the project directory.

